@model IEnumerable<TenMovies.Web.Models.MovieModels.MovieList>
@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align: right">
    <a asp-action="Profile" asp-controller="User">View my lists</a>
</div>
<partial model="@TempData["ErrorMessage"]" name="_ErrorMessagePartial" />

<div class="row" style="padding: 5px">
    @foreach (var l in Model)
    {
        <div class="col-sm-3" style="padding: 5px">
            <partial model="l" name="MoviePartials/_MovieListSummaryPartial" />
        </div>
    }
</div>