@model MoviesViewModel
@{
    ViewData["Title"] = Model.SearchTerm;
}

@{Html.Partial("_ErrorMessagePartial", TempData["ErrorMessage"]);}

<div class="row">
    @if (Model?.Movies != null)
    {
        @foreach (var movie in Model.Movies)
        {
            <div class="col-sm-4">
                <partial name="MoviePartials/_ViewMoviePartial" model="movie" />
                <div class="align-content-center" style="padding: 5px">
                    <a class="btn btn-primary align-content-center" asp-controller="List" asp-action="AddMovieToList" asp-route-movieId="@movie.Id" >Add</a>
                </div>
            </div>
        }
    }
</div>
