@using Microsoft.AspNetCore.Identity
@using TenMovies.Web.Models.User

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="User" asp-action="Logout" method="get" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li style="padding-left: 5px">
                <a asp-controller="User" asp-action="Profile" title="Manage">@UserManager.GetUserName(User)</a>
            </li>
            <li style="padding-left: 5px">
                <a asp-controller="User" asp-action="Logout" title="Manage">Logout</a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="User" asp-action="Login">Log in</a></li>
        <li style="padding-left: 5px"><a asp-controller="User" asp-action="Register">Register</a></li>
    </ul>
}