@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="get" asp-action="Movies">
        <input type="text" id="searchTerm" name="searchTerm">
        <input type="submit" value="Submit">
    </form>
</div>
