@model Top10MoviesListViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
@foreach (var m in Model.Movies)
{
    <h1>@m.Title</h1>
}