@model Top10MoviesListViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>@Model.Movie.Id</h1>
    <h1>@Model.Movie.Title</h1>
    <h3>@Model.Movie.Tagline</h3>
</div>