@model TenMovies.Web.Models.MovieModels.Movie

<div class="card" style="width: 20rem;">
    <img src="https://image.tmdb.org/t/p/w500/@Model.PosterPath" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">@Model.Title (@((!string.IsNullOrEmpty(Model.ReleaseDate)) ? Model.ReleaseDate.Substring(0, 4) : "N/A"))</h5>
        <p class="card-text">@Model.Tagline</p>
        <form asp-action="RemoveMovieFromList">
            <input type="hidden" value="@Model.PrimaryId" name="movieId" />
            <button class="btn btn-primary" type="submit" style="justify-content: center">Remove</button>
        </form>
    </div>
</div>