@using TenMovies.Web.Models.MovieModels
@model AddMovieToListViewModel
@{
    ViewBag.Title = "Create New List";
    Layout = "_Layout";
}
<h2 style="text-align: center">Add @Model.MovieToAdd.Title to a list</h2>
<hr />
<partial model="@TempData["ErrorMessage"]" name="_ErrorMessagePartial" />

<partial model="Model.MovieToAdd" name="MoviePartials/_ViewMoviePartial" />
<div style="padding-top: 10px"></div>

<form asp-action="AddMovieToList" asp-controller="List">
    <input asp-for="MovieId" class="form-control" type="hidden" value="@Model.MovieToAdd.Id" />
    <div class="form-group dropdown">
        @Html.DropDownListFor(l => l.ListId, new SelectList(Model.UsersMovieLists, "Id", "Title"))
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-default btn-primary" />
    </div>
</form>
