@model TenMovies.Web.Models.MovieModels.MovieList

@{
    ViewBag.Title = "Create New List";
    Layout = "_Layout";
}

<div>
    <h2>@Model.Title</h2>
    <p>@Model.Description</p>
    <p>Created By: @Model.OwnerUsername on @Model.DateCreated</p>
</div>

<div>
    <a asp-controller="User" asp-action="Profile">Go back to profile</a>
</div>